results/*

resources/samples/*
!resources/samples/readme.md
resources/input/*
!resources/input/readme.md
resources/ref_genomes/*
!resources/ref_genomes/readme.md

logs/*
!logs/cluster/
logs/cluster/*
!logs/cluster/readme.md

.snakemake/

workflow/scripts/__pycache__/*

Rplots.pdf

config/config*
config/slurm/*
!config/slurm/config.yaml

sratoolkit.3.0.0-ubuntu64/*
sratoolkit.3.0.0-ubuntu64.tar.gz

report*