results/*
reports/report*
resources/samples/*
!resources/samples/readme.md
resources/input/*
!resources/input/readme.md
resources/ref_genomes/*
!resources/ref_genomes/readme.md
logs/*
!logs/cluster/
logs/cluster/*
!logs/cluster/readme.md
dag.svg
dag2.svg
dag_ds.svg
dag_xr.svg
mydamageseq.sh
myXRseq.sh
.snakemake/
csv2config.py
slurm*
workflow/scripts/__pycache__/*
Rplots.pdf
config/config*
sratoolkit.3.0.0-ubuntu64/*
sratoolkit.3.0.0-ubuntu64.tar.gz