results/*
resources/samples/*
resources/ref_genomes/*
logs/*
dag.svg
dag2.svg
dag_ds.svg
dag_xr.svg
mydamageseq.sh
myXRseq.sh
.snakemake/*
csv2config.py
config/configXR.json
config/samples.csv.save
config/samples.csv
